---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

{% assign post_categories = site.posts | group_by_exp:"post", "post.path | split: '/' | first" %}

{% for category in post_categories %}
  {% capture category_name %}{{ category.name }}{% endcapture %}
  <h2 id="{{ category_name | slugify }}" class="archive__subtitle">{{ category_name }}</h2>
  {% for post in category.items %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
